image:
  repository: 044302809167.dkr.ecr.us-east-1.amazonaws.com/ticket-booking/frontend
  pullPolicy: IfNotPresent
  tag: 13-bfcbaea8912c7fbdf9845621dc2e627cf358db08

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  ingressClassName: alb
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}]'
    alb.ingress.kubernetes.io/group.name: "ticket-booking-apps"
    alb.ingress.kubernetes.io/group.order: "100"
  hosts:
    - host: ticketbooking.aws.booking007.space
      paths:
        - path: /
          pathType: Prefix
    - host: aws.booking007.space
      paths:
        - path: /
          pathType: Prefix
    - host: www.aws.booking007.space
      paths:
        - path: /
          pathType: Prefix

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  NODE_ENV: production

