image:
  repository: 044302809167.dkr.ecr.us-east-1.amazonaws.com/ticket-booking/frontend
  pullPolicy: IfNotPresent
  tag: 19-1b06c078e11edaa49d5149730df90076695be8b8

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  NODE_ENV: production

